
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex: 1;
}
/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222;
}
.f-info-links a:hover{
    text-decoration: underline;
    
}
.f-info-links,
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    height: 8rem;
    background-color:#ebebeb ;

}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* Add & edit page */
.add-btn,.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show page */
.show-img{
    height: 30vh !important;
}
.btns{
    display: flex;
}
/* map */
#map{
    height: 400px;
    width: 80vh;
}
/* filters */
#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter{
    text-align: center;
    margin-top: 1.5rem;
    margin-right: 1.4rem;
    opacity: 0.7;
    font-size:1rem;
  }
  .filter:hover{
    opacity:1;
    cursor: pointer;
  }
   /* tax-switch */
  .tax-price{
    display: none;
  }
   
  .tax-toggle{
    border:solid black 1px;
    height: 2.5rem;
    border-radius: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin:1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
   
  }

.search-btn{
    background-color: #fe424d !important;
    color: #fff !important;
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem !important;
}
.search-btn i{
    display: inline ;
    margin-right: 0.5rem ;
}
.searchInt-btn{
    border-radius: 25px !important;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem !important;
}