<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            
    <h3>Create A new Listing</h3>
    <form action="/listing" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="Add a catchy Title" name="listing[title]" class="form-control" required>
            <div class="valid-feedback">Title Looks Good! </div>
            <div class="invalid-feedback">Enter Title! </div>
        </div>
        
       <div class="mb-3">
             <label for="description" class="form-label">Description</label>
             <textarea name="listing[description]"  class="form-control" required></textarea>
             <div class="invalid-feedback">Enter a short Description! </div>
       </div>

        <div>
             <label for="image" class="form-label">Upload Image</label>
             <input type="file"  name="listing[image]" class="form-control" required >
             <div class="invalid-feedback">Add Image </div>
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="text" placeholder="1200" name="listing[price]" class="form-control" required>
            <div class="invalid-feedback">Enter valid Price! </div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
             <input type="text" placeholder="India" name="listing[country]" class="form-control" required>
             <div class="invalid-feedback">Enter Country name ! </div>
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" placeholder="Pune,Maharashtra" name="listing[location]" class="form-control" required>
            <div class="invalid-feedback">Enter the Location!</div>
        </div>
        
        <button class="btn btn-dark add-btn mb-3 mt-3">Add</button>
        
    </form>
    </div>
    </div>
</body>
